
PORT=3000
# Configuración de la Base de Datos para Fotaza 2

DB_HOST=localhost #pueden dejarlo asi
DB_USER=postgres
DB_NAME=fotaza_db_ian #es el nombre de la base de datos, se debe dejar asi
DB_PORT=5432
DB_PASSWORD=tu_contraseña_aquí #Hay que colocar la contraseña del Postgres instalado