doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Fotaza 2
        
        
        link(rel="stylesheet", href="/css/style.css")
        
    body
        header
            nav
                a(href="/") Fotaza 2
                span  | 
                if usuarioLogueado
                    
                    span Bienvenido, #{usuarioLogueado.username || usuarioLogueado.UserName} ! 
                    span  | 
                    
                    
                    a(href=`/user/perfil/${usuarioLogueado.id}`) Mi Perfil
                    span  | 
                    
                    a(href="/post/crear") Enviar Publicación
                    span  | 
                    a(href="/login/logout") Cerrar Sesión
                else
                    a(href="/login") Iniciar Sesión

        hr

        main
            block content

        hr

        footer
            p © 2026 Fotaza 2 - Proyecto Programación Web II.