extends layout

block content
    .ink-form-container
        .ink-box.ink-form-card
            h1 Crear nueva publicación
            
            if error
                p.ink-error #{error}
                
            form.ink-form(action='/publicar' method='post' enctype='multipart/form-data')
                .form-group
                    label(for='title') Título:
                    input.ink-input(type='text' name='title' id='title' value=(datosCompletados ? datosCompletados.title : '') required)
                
                .form-group
                    label(for='description') Descripción:
                    textarea.ink-input(name='description' id='description' rows="4" required) #{datosCompletados ? datosCompletados.description : ''} 
                
                .form-group
                    label(for='license') Licencia:
                    select.ink-input(name='license' id='license' required)
                        option(value='free') Libre (Sin Copyright / Pública)
                        option(value='copyright') Con Copyright
                
                .form-group
                    label(for='watermarkText') Texto marca de agua:
                    input.ink-input(type='text' name='watermarkText' id='watermarkText' value=(datosCompletados ? datosCompletados.watermarkText : '') required)
                
                .form-group
                    label(for='imageFile') Seleccionar Imagen:
                    input.ink-input(type='file' name='imageFile' id='imageFile' accept='image/*' required)
                
                div(style="text-align: right; margin-top: 10px;")
                    input.ink-btn(type='submit' value='Subir Publicación')